
@{
    ViewBag.Title = "Success";
}

<h2>Success!</h2>
 Hello @ViewBag.FirstName !

<h3>Your Account Details:</h3>
Name: @ViewBag.FirstName @ViewBag.LastName<br />
Age: @ViewBag.Age<br />
Email Address: @ViewBag.Email<br />
Phone Number: @ViewBag.Phone<br />



