
@{
    ViewBag.Title = "My Dashboard";
}

<h2><center>Dashboard</center></h2>
 Hello @ViewBag.FirstName!

<h3>Your Account Details:</h3>
Name: @ViewBag.FirstName @ViewBag.LastName<br />
Gender: @ViewBag.gender<br />
Age: @ViewBag.Age<br />
Phone Number: @ViewBag.Phone<br />
Email Address: @ViewBag.Email<br />




